.bound {
  font-weight: bold
}

.topic {
	list-style-type: none;
	position: relative;
	padding-left: 5px;
}

/* ---- TOOGLER ---- */

.toogler i {
	position: absolute;
	left: -20px;
	top: -2.5px;
	width: 25px;

	/* Disable icon selection (blue halo thingy) */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.toogler i:hover {
	cursor: pointer;;
}

.toogler i.arrow-down:before {
	content:url("/argos/_design/argos/_rewrite/included/arrow-down.png");
}

.toogler i.arrow-right:before {
	content:url("/argos/_design/argos/_rewrite/included/arrow-right.png");
}
