.bound {
  font-weight: bold
}
.topic :not(.bound) {
  font-weight: normal;
}
.users::before {
  content: "Users";
  font-variant: small-caps;
}
.topics::before {
  content: "Topics";
  font-variant: small-caps;
}
